<div class="d-flex justify-content-between my-4">
    <h3>Observables</h3> 
    <div>
      <button type="button"  class="btn btn-primary btn-sm" (click)="redirectToLearning()">Back to Learning</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h6 class="text-warning">Observable stream</h6>
        <ul>
            <li>User Input (like click)</li>
            <li>http request</li>
            <li>array or objects</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h6 class="text-warning">Observable Handle (Subscribe)</h6>
        <ul class="d-flex">
            <li class="me-4">Data</li>
            <li class="me-4">Error</li>
            <li class="me-4">Completion</li>
        </ul>
        <code>.subscribe(
            (data)=> console.log(data)
            (error)=> console.log(data)
            ()=> console.log('Completed')
            )</code>
    </div>
</div>
<hr>
<div class="row observable-card">
    <div class="col-md-3 mb-2">
        <div class="card text-white bg-dark text-center border-primary" routerLink="from-event">
            <div class="card-body text-primary">
              From Event
            </div>
          </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="card text-white bg-dark text-center border-primary" routerLink="interval">
          <div class="card-body text-primary">
            Interval
          </div>
        </div>
    </div>
    <div class="col-md-3 mb-2">
      <div class="card text-white bg-dark text-center border-primary" routerLink="of-from">
          <div class="card-body text-primary">
            Of From
          </div>
        </div>
    </div>
    
</div>