  <app-navbar></app-navbar>
  <div class="container">
    <div class="header-section pb-4">
      <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header-title mt-5 fs-2">
              <div class="highlight">Namaste</div>
              <div>I am <span class="highlight">Anand Shendage</span><br><span class="highlight">Front-end developer from India</span><br>
                Always uniQ in my own way to implement new ideas to code.</div>
                <div class="experience mb-3">Total Experience : 7+ Years</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header-image">
              <img src="../../../assets/images/profile.png" class="img-fluid" alt="profile-image">
            </div>
          </div>
      </div>
    </div>
    <div class="summary-section pt-4">
      <div class="row text-white fs-5">
          <div class="col-lg-4 col-md-4">
            <div class="highlight fs-3">
              Skills
            </div>
            <div class="skill-badge">HTML</div>
            <div class="skill-badge">CSS</div>
            <div class="skill-badge">Javascript</div>
            <div class="skill-badge">SCSS</div>
            <div class="skill-badge">Angular</div>
            <div class="skill-badge">Typescript</div>
            <div class="skill-badge">Bootstrap</div>
            <div class="skill-badge">Ag Grid</div>
            <br>
            <div class="skill-badge">Git</div>
            <div class="skill-badge">Jenkins</div>
            <div class="skill-badge">Jira</div>
            <div class="skill-badge">BitBucket</div>
          </div>
          <div class="col-lg-8 col-md-8">
            <ul>
              <li> I enjoy converting designs into short, efficient and reusable components.</li>
              <li> I always respect deadlines which pays me satisfaction at the completion of project.</li>
             <li> I have developed and launched multiple projects from scratch, with many business domains in challenging enviroment.</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="_comp">
      <div class="container">
          <div class="highlight fs-3 text-center mb-5">
              Experience
          </div>
          <div class="row">
              <div class="col-md-6 _comp_border ">
                  <div class="row _comp_li _comp_li_1">
                      <div class="col-sm-12 ">
                          <div class="_comp_title">Virtusa Consulting Services</div>
                          <div class="_comp_desig">Lead Software Engineer - Angular</div>
                          <div class="_comp_desc">Working as Senior Consultant on Compliance data web applications.</div>
                          <div class="_comp_dur">Sep 2021 - Till Date</div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 _comp_border ">
                  <div class="row _comp_li _comp_li_2">
                      <div class="col-md-12">
                        <div class="_comp_title">Zycus Infotech</div>
                        <div class="_comp_desig">UI Developer - Angular</div>
                        <div class="_comp_desc">Working as UI(Angular) Developer on procurement web applications.</div>
                        <div class="_comp_dur">Jul 2019 - Sep 2021</div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 _comp_border">
                  <div class="row _comp_li _comp_li_1">
                      <div class="col-md-12">
                        <div class="_comp_title">Accelerate Business Solution</div>
                        <div class="_comp_desig">Front-end Engineer</div>
                        <div class="_comp_desc">Working as a Front-end engineer on multiple web applications.</div>
                        <div class="_comp_dur">Dec 2017 - Jul 2019</div>
                      </div>
                  </div>

              </div>

              <div class="col-md-6 _comp_border ">
                  <div class="row _comp_li _comp_li_2">
                      <div class="col-md-12">
                        <div class="_comp_title">Innovins Technology</div>
                        <div class="_comp_desig">Front-end Developer</div>
                        <div class="_comp_desc">worked as a front-end developer, was working on websites and chat application dashboard.</div>
                        <div class="_comp_dur">Sep 2016 - Nov 2017</div>
                      </div>
                  </div>
                  </div>
                </div>

        </div>
    </div>
    
    <p class="_signature mt-4">Always Towards Better Things </p>
    <div class="_copyrights"> <small>Encoded By : Anand Shendage</small> </div>
    </div>