.header-section {
    color: #fff;
    font-weight: 300;

    .header-image {
        max-width: 50%;
        margin: auto;
    }
}

.highlight {
    color: #4f8dff;
}

.experience {
    margin-top: 10px;
    border-radius: 2px;
    padding: 0 5px;
    color: #4f8dff;
    border: 1px solid #39FF14;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
}


.skill-badge{
    font-size: 1rem;
    display: inline-block;
    border: 1px solid #39FF14;
    margin: 5px;
    padding: 2px 5px;
}

._signature {
    color: #ccc;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
}

._copyrights {
    text-shadow: #7ff60c 0 0 5px;
    color: #7df20c;
    font-size: 1.1em;
    text-align: center;
}

._comp {
    margin-top: 10px;
    padding: 2em 0;
}

._comp ._comp_li {
    padding: 1.5em 2em;
    border: 1px solid #333;
    border-radius: 3em;
    color: #bab9b9;
    position: relative;
}

._comp_border:nth-child(2n+1) {
    border-left: none;
    border-right: 1px solid #5e5e5e;
    margin-top: -40px;
}

._comp_border {
    padding: 2em;
    line-height: 1.5em;
}

._comp_li ._comp_title {
    color: #7ff60c;
    font-size: 1.2em;
}

._comp_li ._comp_desig {
    padding: 0.5em 0;
}

._comp_li ._comp_dur {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: #007bff;
}

._comp ._comp_li:before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #000;
    height: 20px;
    width: 20px;
    transform: rotate(47deg);
}

._comp ._comp_li._comp_li_1 {
    text-align: right;
    border-right: 2px solid #7ff60c;
}

._comp ._comp_li._comp_li_2 {
    text-align: left;
    margin-top: 8em;
    border-left: 2px solid #7ff60c;
}

._comp ._comp_li._comp_li_1:before {
    top: 48%;
    right: -12px;
    border-right: 2px solid #7ff60c;
    border-top: 2px solid #7ff60c;
}

._comp ._comp_li._comp_li_1:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    top: 51%;
    right: -25px;
    background: #7ff60c;
    z-index: 1;
}

._comp ._comp_li._comp_li_2:before {
    top: 48%;
    left: -11px;
    border-left: 2px solid #7ff60c;
    border-bottom: 2px solid #7ff60c;
}

._comp ._comp_li._comp_li_2:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    top: 51%;
    left: -25px;
    background: #7ff60c;
    z-index: 1;
}

.companies_logo {
    position: relative;
    border-left: 2px solid #7ff60c;
    border-right: 2px solid #007bff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2em;
    padding: 3px;
}


/* Mobile CSS */

@media only screen and (max-width:767px) {
    ._ms_title,
    ._ms_counter {
        font-size: 1em;
    }
    ._banner h1 {
        font-size: 1.2em;
    }
    ._banner ._writing a {
        font-size: 0.8em;
    }
    ._comp ._comp_li._comp_li_1 {
        text-align: left;
        border: 1px solid #333;
        border-left: 2px solid #7ff60c;
    }
    ._comp ._comp_li._comp_li_1:before {
        left: -12px;
        top: 49%;
        border-right: none;
        border-top: none;
        border-left: 2px solid #7ff60c;
        border-bottom: 2px solid #7ff60c;
    }
    ._comp ._comp_li._comp_li_1:after {
        left: -25px;
    }
    ._comp ._comp_li._comp_li_2 {
        margin-top: 0em;
    }
    ._comp_border:nth-child(n) {
        border-left: 1px solid #7ff60c;
        margin-left: 10px;
    }
    ._comp_border:nth-child(2n+1) {
        margin-top: 0px;
    }
    ._skill img {
        max-width: 30px;
    }
    .companies_logo {
        display: none;
    }
}
