<div class="stock-update">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h4>Inox India Sample Stock Educational Purpose</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of stockdata">            
            <td>{{item.date}}</td>
            <td>{{item.open}}</td>
            <td>{{item.high}}</td>
            <td>{{item.low}}</td>
            <td>{{item.close}}</td>
            <td>{{item.volume}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>