    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand activeItem1 fw-bold" (click)="clickEvent('0')">
          <img src="assets/images/logo.svg" alt="" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="clickEvent('1')" [ngClass]="{'activeItem': active1}">Learning</a>
            </li>
            <li class="nav-item text-right">
              <a class="nav-link" href="https://react.anandshendage.in/" target="_blank">React</a>
            </li>
            <li class="nav-item text-right">
              <a class="nav-link" href="https://notification-rxjs.anandshendage.in/" target="_blank">Notifications(Rxjs)</a>
            </li>
            <li class="nav-item text-right">
              <a class="nav-link" href="https://snake.anandshendage.in/" target="_blank">Snake-Game-Js</a>
            </li>
            <li class="nav-item text-right align-self-center" *ngIf="showOnSubjectPage">
              <a class="nav-link badge bg-secondary" >Exclusive Tab for Subject</a>
            </li>
          </ul>
          <div class="d-flex social-links">
            <a target="_blank" href="https://www.linkedin.com/in/shendageanand/"><i class="bi bi-linkedin pe-3"></i></a>
            <a target="_blank" href="https://github.com/sjcoeanand"><i class="bi bi-github pe-3"></i></a>
            <a target="_blank" href="https://twitter.com/anands9007"><i class="bi bi-twitter"></i></a>
          </div>
        </div>
      </div>
    </nav>
