<div class="d-flex justify-content-between my-4">
    <h3>Interval</h3>
    <p>It is use to emit the stream data after this Interval time </p> 
    <div>
      <button type="button"  class="btn btn-primary btn-sm" (click)="redirectToObservable()">Back to Observable List</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-2">
        <div class="card text-white bg-dark" >
            <div class="card-body">
                <h6 class="card-title text-warning">Data Stream - Interval 1 (500)</h6>
                <ul id="streamContainer1" class="mb-0 stream-data"></ul>            
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card text-white bg-dark" >
            <div class="card-body">
                <h6 class="card-title text-warning">Data Stream - Interval 2 (500)</h6>
                <ul id="streamContainer2" class="mb-0 stream-data"></ul>               
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-2">
        <div class="card text-white bg-dark" >
            <div class="card-body">
                <h6 class="card-title text-warning">Data Stream - Timer (3000, 300)</h6>
                <ul id="streamContainer3" class="mb-0 stream-data"></ul>             
            </div>
        </div>
    </div>
</div>