<div class="d-flex justify-content-between my-2">
    <h3>Scan</h3>
    <div>
      <button type="button"  class="btn btn-primary btn-sm" (click)="redirectToObservable()">Back to List</button>
    </div>
</div>
<div class="mb-2">
    <div class="mt-4">
         Applies an accumulator function over the source Observable, and returns each intermediate result, with an optional seed value.
    </div>  
</div>
<div class="row">
    <div class="col-md-3 mb-2">
        <div class="card text-white bg-dark" >
            <div class="card-body">
                <h6 class="card-title text-warning">Data Stream - of(2,3,6,8,1)</h6>
                <ul id="scanStreamId1" class="mb-0 stream-data"></ul>            
            </div>
        </div>
    </div>
</div>