<div class="d-flex justify-content-between my-2">
    <h3>Fork Join</h3>
    <div>
      <button type="button"  class="btn btn-primary btn-sm" (click)="redirectToObservable()">Back to List</button>
    </div>
</div>
<div>This operator is best used when you have a group of observables and only care about the final emitted value of each. One common use case for this is if you wish to issue multiple requests on page load (or some other event) and only want to take action when a response has been received for all. </div>