<div class="d-flex justify-content-between my-2">
    <h3>Tap Operator</h3>
    <div>
      <button type="button"  class="btn btn-primary btn-sm" (click)="redirectToObservable()">Back to List</button>
    </div>
</div>
<div>Used to perform side-effects for notifications from the source observable</div>
<div class="row filter-operator">
    <div class="col-md-4 mb-2">
        <div class="card text-white bg-dark" >
            <div class="card-body">
                <h6 class="card-title text-warning">
                    Tap Example 1
                </h6>     
                <div class="mt-3">
                    <ul id="id1"></ul>
                </div>            
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card text-white bg-dark" >
            <div class="card-body">
                <h6 class="card-title text-warning">
                    Tap Example 2
                </h6>     
                <div class="mt-3">
                    <div class="sample-tap"  [ngStyle]="{'border-color' : colorCode}">{{msg1}}</div>
                </div>            
            </div>
        </div>
    </div>
</div>