<div class="container mt-4">
    <div class="d-flex justify-content-between my-4">
        <h3>Authentication</h3> <div><button type="button" class="btn btn-primary btn-sm" (click)="redirectToLearning()">Back to Learning</button></div>
    </div>
    <div class="card text-white bg-dark d-block p-3">
        <!-- select forms (+) -->
        <div class="d-flex mb-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Reactive Form</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Template Driven Forms</label>
            </div>
            <div >

            </div>
        </div>
        <!-- select forms (-) -->
        <!-- tempalte drive form (+) -->
        <div class="row form-structure">
            <div class="col-md-6">
                <h4>Template Driven Sign up Form</h4>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Phone</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6 mt-2">
                        <button type="button" class="btn btn-warning">Sign Up</button>
                        <div class="ms-2">New User ?</div>
                    </div>
                </div>
                <h4>Template Driven Login Form</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6 mt-2 d-flex align-items-center">
                        <button type="button" class="btn btn-warning">Login</button>
                        <div class="ms-2">New User ?</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>JSON Structure</h4>
                <div class="row">
                    
                </div>
            </div>
        </div>
          <!-- tempalte drive form (+) -->
    </div>
    
</div>
